/* Icons */
.icon-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}
.red-button {
    background: #d63638 !important;
    color: white !important;
    border-color: #d63638 !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}
.red-button:hover {
    background: rgb(192, 1, 1) !important;
    border-color: rgb(192, 1, 1) !important;
}
.red-button:active {
    border-color: rgb(192, 1, 1) !important;
}
.dashicons-flag, .dashicons-dismiss, .dashicons-trash {
    display: block;
}

/* Premium labels */
.yo-premium {
    color: red;
    border: solid 1px;
    border-radius: 10px;
    border-color: #a5a5a5;
    padding: 12px;
    margin-bottom: 10px;
}
.premium-text {
    color: #aaaaaa;
}
.premium-label {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background-color: #00a32a;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.premium-label:hover {
    color: #ffffff;
    background-color: rgb(26, 156, 26);
}

/* Blocked users */
.user-blocked-row .column-username a {
    display: inline-flex;
    align-items: center;
}
.user-blocked-row .column-username a:before {
    font-family: 'dashicons';
    content: '\f153';
    font-size: 18px;
    color: #d63638;
}
.user-blocked-row .column-username .row-actions a {
    display: contents;
}
.user-blocked-row .column-username .row-actions a:before {
    content: ''; /* Prevent adding icon to row actions */
}

/* Dashboard */
.wc-blacklist-container, .summary-child {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the spacing between columns as needed */
    align-items: flex-start; /* Align items at the top */
}

.wc-blacklist-container > div {
    flex: 1;
    min-width: 300px;
    padding: 0 1.5em 1.5em;
}

.summary-column {
    background-color: #fff;
    border: 1px solid #c3c4c7;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 20px;
}

.summary-column hr {
    margin-bottom: 10px;
}

.summary-column label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    color: #1d2327;
}

.summary-column table {
    margin-top: 5px;
}

.summary-column th, .summary-column td {
    padding: 6px 14px 0;
    text-align: left;
    font-weight: 400;
}

.summary-column a {
    text-decoration: none;
}

.summary-column .bm-notice {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.bm-notice img {
    margin-right: 5px;
}

.bm-actions {
    float: right;
}

.summary-child > div {
    flex: 1;
}

.sum-premium {
    font-size: 10px;
    color: #ffffff;
    background-color: #00a32a;
    padding: 3px 5px;
    border-radius: 3px;
}

.sum-disabled {
    font-size: 10px;
    color: #ffffff;
    background-color: #c3c4c7;
    padding: 3px 5px;
    border-radius: 3px;
}

/* Address addition form */
.country-state-container {
    display: flex;
    margin-bottom: 10px;
}
.country-state-container #hide-state-selection, .country-state-container input[type=text] {
    margin-left: 6px;
}
.address-1-2-container, .city-postcode-container {
    margin-bottom: 6px;
}

/* Search box */
.wcbm-search-box {
    margin: 7px 0 !important;
}

/* Table */
#blacklisted .check-column, #blocked .check-column, #ip-banned .check-column, #customer-address .check-column, #domain-blocking .check-column {
    padding: 20px 10px;
    vertical-align: middle;
}
#blacklisted td, #blocked td, #ip-banned td, #customer-address td, #domain-blocking td {
    vertical-align: middle;
}

/* Activity logs */
.activity-log th, .activity-log td {
    vertical-align: middle;
}

.activity-log-source {
    display: flex;
}

.activity-log-source img {
    margin-right: 5px;
}

.activity-log-demo th {
    color: #aaaaaa !important;
}

.activity-log-demo td {
    color: #aaaaaa !important;
}

/* Settings */
.label_child {
    padding-left: 20px;
}

/* Upload form */
.yobm-upload-form {
    background: #f6f7f7;
    border: 1px solid #c3c4c7;
    padding: 20px;
}

/* Connection */
.subsite-list-demo {
    width: auto;
    max-width: 800px;
}

.subsite-list-demo th {
    padding: 10px;
    font-weight: 400;
    color: #aaaaaa !important;
}

.subsite-list-demo td {
    color: #aaaaaa !important;
}

.subsite-list-demo .column-id {
    width: 4ch !important;
}

.subsite-list-demo .column-status {
    width: 12ch;
}

.subsite-list-demo .column-actions {
    width: 8ch;
}